.row {
  margin-top: 2%;
}

textarea {
  margin-left: 2%;
}

li {
  list-style-type: none;
  border: 1px solid black;
  width: 50%;
  background-color: burlywood;
  padding: 2%;
  cursor: pointer;
}

.topicWindow {
  margin: 0%;
  background-color: cornflowerblue;
  border: 2px solid burlywood;
}

.btn-success {
  float: right;
}
