<div>
  <div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
      <div class="media d-flex align-items-center"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <div class="media-body">
          <h4 class="m-0">Jason Doe</h4>
          <!-- <p class="font-weight-light text-muted mb-0">Web developer</p> -->
        </div>
      </div>
    </div>

    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a class="nav-link text-dark font-italic bg-light" routerLink="/dashboard">
                  <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                  Dashboard
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic"  routerLink="/account">
                  <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                  Account
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic" routerLink="/syllabus">
                  <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                  Syllabus
              </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark font-italic" (click)="logout()">
                  <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                  Logout
              </a>
      </li>
    </ul>



  </div>
  <div><hr></div>
   <router-outlet></router-outlet>
</div>



