
<div class="main-div">

    <div class="profileContainer">
        <div class="media d-flex align-items-center"><img [src]="loggedInPerson.loggedInUrl" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        
        </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 label">Name</div>
            <div class="col-md-6 label">Email</div>
    
        </div>
        <div class="row">
            <div class="col-md-6">{{loggedInPerson.loggedInName|uppercase}}</div>
            <div class="col-md-6">{{loggedInPerson.email}}</div>
    
        </div>
    </div>
    
    <div class="container">
       
        <div class="row">
            <div class="col-md-4 label">Mobile</div> 
            <p>{{loggedInPerson.phno}}</p>    
    
        </div>
        <div class="row">
            <div class="col-md-4 label">Username</div>  
            <p>{{loggedInPerson.userName}}</p>     
    
        </div>
    </div>
    
    <button type="button" class="btn btn-warning btn-sm " (click)="openEditDiv()">Edit Profile</button>
    </div>
    

<div class="editDiv" *ngIf="showEditDiv">
    <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="form8Example1" class="form-control" [(ngModel)]="loggedInPerson.loggedInName" placeholder="Name should can contain only space and letters" />
            <label class="form-label" for="form8Example1">Name</label>
            <p class="text-warning">{{errorMsg.nameErr}}</p>
            
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="email" id="form8Example2" class="form-control" [(ngModel)]="loggedInPerson.email" />
            <label class="form-label" for="form8Example2">Email</label>
            <p class="text-warning">{{errorMsg.emailErr}}</p>
          </div>
        </div>
      </div>
      
      <hr />
      
      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="form8Example3" class="form-control" [(ngModel)]="loggedInPerson.phno" placeholder="Mobile no. should can contain only digits" />
            <label class="form-label" for="form8Example3">Mobile</label>
            <p class="text-warning">{{errorMsg.mobileErr}}</p>
            
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="form8Example4" class="form-control" [(ngModel)]="loggedInPerson.userName" placeholder="User Name should can contain only space and letters or .-_ characters" />
            <label class="form-label" for="form8Example4">UserName</label>
            <p class="text-warning">{{errorMsg.userNameErr}}</p>
          </div>
        </div>
        <div class="col">
            <div class="form-outline">
              <input type="text" id="form8Example4" class="form-control" [(ngModel)]="loggedInPerson.loggedInUrl" />
              <label class="form-label" for="form8Example4">Image Url</label>
              <p class="text-warning">{{errorMsg.imageErr}}</p>
            </div>
          </div>

   
       
          
      </div>
      <button type="button" class="btn btn-success btn-sm" (click)="editProfile()">Update</button>
</div>
</div>

